{% extends '../../admin/admin-base.html' %} {% block content %}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="inherit-width">
      <div>
        <h1 class="has-text-centered">Roles</h1>
        <div class="columns is-vcentered">
          <div class="column">Users</div>
          <div class="column">
            {% for i in user_roles %}
            <div class="columns">
              <div class="column">
                <p>{{ i.user_ref.username }}</p>
              </div>
              <div class="column">
                <p>
                  <ion-icon name="create-outline"></ion-icon>
                </p>
              </div>
              <div class="column">
                <p>
                  <ion-icon name="trash-outline"></ion-icon>
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="columns is-vcentered">
          <div class="column">
            {% for i in admin_roles %}
            <div class="columns">
              <div class="column">
                <p>{{ i.user_ref.username }}</p>
              </div>
              <div class="column">
                <p>
                  <ion-icon name="create-outline"></ion-icon>
                </p>
              </div>
              <div class="column">
                <p>
                  <ion-icon name="trash-outline"></ion-icon>
                </p>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="column">
            <p>Admins</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
